<!DOCTYPE html>
<html>
<body>
<div>
    <h3>
        A Chart for the measure {{ measure }} to show the predicted river levels vs the actual river levels for the month
        of January 2017. These predictions forecast the river level {{ hour }} hours into the future.
    </h3>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <div id="chart_div"></div>
<script>
    google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawCurveTypes);

function drawCurveTypes() {
      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'epoch');
      data.addColumn('number', 'Predicted');
      data.addColumn('number', 'Actual');

        {% for d in data %}
            data.addRow([new Date({{ d[0] }}),{{ d[1] }},{{ d[2] }}]);
        {% endfor %}

      var options = {
          width: 1200,
          height: 700,
          title: '{{ hour }} hours: Predicted River Level vs Actual',
          hAxis: {
          title: 'Date'
        },
        vAxis: {
          title: 'River Level (meters)'
        },
        explorer: {
        },
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
</script>
<a href="/predictions/catchments/{{ measure }}">Back</a>
</div>
</body>
</html>